.review-card {
    width: 310px;
    padding: 20px;
    box-shadow: rgba(108, 117, 126, 0.2) 0px 8px 24px;
    border-radius: 10px;
}
.review-header {
    display: flex;
    align-items: center;
}
.review-header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}
.review-des {
    text-align: justify;
}
.star-icon {
    width: 22px;
    color: gold;
}