.dashboard-chart {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

@media only screen and (max-width: 1050px) {
    .dashboard-chart {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
} 