.left-border {
    border-left: 5px solid #6610f2;
    padding-left: 5px;
}
.review-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 20px;
    justify-items: center;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #6610f2 !important;
    border-bottom: 2px solid #6610f2 !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #000000 !important;
}

@media only screen and (max-width: 1000px) {
    .review-section {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 30px;
    }
}
@media only screen and (max-width: 776px) {
    .review-section {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
        row-gap: 30px;
    }
}